<h1> Student details</h1>
<p><strong> Name: </strong> <%= @student.full_name %> </p>
<p><strong> First Name: </strong> <%= @student.first_name %> </p>
<p><strong> Last Name: </strong> <%= @student.last_name %> </p>
<p><strong> Email: </strong> <%= @student.email%> </p>


<%= link_to "Back", students_path%>
<% if user_signed_in? and current_user.admin? %>
    <%= link_to "Edit", edit_student_path(@student) %>
<%else%>
    <p>Only Admin can edit</p>
<%end%>